.main-content
	overflow: visible

.desc-content
	margin-right: 0


//Szkolenia
.description-box-1
	h2
		margin-bottom: 10px


//Stopka
.bx-social-box
	h3
		padding-bottom: 8px

.newsletter 
	button
		color: lightgrey

	button:hover
		color: #000
	
	input
		color: lightgrey

#newsletter_info
	color: #ffcb05
	top: 90%




//podstrona szkolenia - zakładki i program
.nav-tabs
	li
		margin-top: 15px
	li > a
		color: #4D4D4D

.tabs-program
	ol > li
		font-weight: bold
		padding-top: 15px
	ul
		margin-left: 40px

.list-normal 
	ol > li, ul > li
		font-weight: normal //klasa dla listy bez żadnych  pogrubień

.li-bold
	font-weight: bold !important //dodać tę klasę do "li" żeby były pogrubienia


.tabs-opis
	h2
		border-bottom: 1px solid lightgrey
		width: fit-content



//Artykuły (podstrony)
.about-us
	text-align: justify
	line-height: 1.6

	img
		display: none //img niewidoczny w treści

	figure
		img
			display: initial //ale widoczny na liście aktualności
			border-radius: 4px

	h2
		font-size: 23px

	blockquote
		margin-top: 20px
		margin-left: 10px

	.art-link:hover
		color: #428bca

	.visible-img
		display: initial //dodać to id do obrazka jak chcemy, żeby był widoczny
		border-radius: 15px		
		padding: 8px

	.art-img
		width: 35% //img w artykułach

	.img-right
		float: right //img do prawej
		margin-top: -67px
		margin-left: 20px

	.infografic
		display: block
		float: none
		margin: auto
		width: 50%

	@media (max-width: 767px)
		.infografic
			width: 100%

	#img-zus
		float: right
		width: 26%
		margin-top: -15px
		margin-left: 20px

	.art-footer-quote
		font-size: 80% //podpis pod cytatem
		line-height: 1.42857143
		color: #777

	.art-source
		font-style: italic

	.art-footer
		padding-top: 50px
		margin-bottom: -40px

	.AM
		float: right
		font-weight: bold
		margin-right: 10px

	.border-right-grey
		border-right: 1px solid #ddd

	.border-bottom-grey
		border-bottom: 1px solid #ddd

	.middle
		vertical-align: middle

	#taxi
		float: left
		width: 60%
		margin-bottom: 20px
		margin-top: -20px
	@media (max-width: 767px)
		#taxi
			width: 100%
	@media (min-width: 1170px)
		#taxi
			margin-top: 0 !important

	#taxi-sumup
		clear: both
		margin-top: 10px


.polecane
	@import ./subpages/polecane.sass


//strona 404
.not-found
	min-height: 100%
	@import ./subpages/not-found.sass

.footer-404		
	position: relative
	height: 100px
	margin-top: -100px
	clear: both

	.footer-top
		padding: 10px

	.footer-bottom
		padding: 10px

@media (max-width: 767px)
	.footer-404
		font-size: 12px
		height: 200px

@media (min-width: 768px) and (max-width: 992px)
	.footer-404
		font-size: 13px


//landing page dla klientów
@import ./subpages/landing-page.sass

