.main-content
	overflow: visible

.desc-content
	margin-right: 0


//Szkolenia
.description-box-1
	h2
		margin-bottom: 10px


//Stopka
.bx-social-box
	h3
		padding-bottom: 8px

.newsletter 
	button
		color: lightgrey

	button:hover
		color: #000
	
	input
		color: lightgrey

#newsletter_info
	color: #ffcb05
	top: 90%




//podstrona szkolenia
.nav-tabs
	li
		margin-top: 15px
	li > a
		color: #4D4D4D

.tabs-program
	ol > li
		font-weight: bold
		padding-top: 15px
	ul
		margin-left: 40px

.list-normal 
	ol > li, ul > li
		font-weight: normal //klasa dla listy bez żadnych  pogrubień

.li-bold
	font-weight: bold !important //dodać tę klasę do "li" żeby były pogrubienia


.tabs-opis
	h2
		border-bottom: 1px solid lightgrey
		width: fit-content



//Artykuły (podstrony)
.about-us
	text-align: justify

	img
		display: none //img niewidoczny w treści

	figure
		img
			display: initial //ale widoczny na liście aktualności
			border-radius: 4px

	h2
		font-size: 23px

	blockquote
		margin-top: 20px
		margin-left: 10px

	.art-link:hover
		color: #428bca

	.visible-img
		display: initial //dodać to id do obrazka jak chcemy, żeby był widoczny
		border-radius: 15px		
		padding: 8px

	.art-img
		width: 35% //img w artykułach

	.img-right
		float: right //img do prawej
		margin-top: -67px
		margin-left: 20px

	#img-zus
		float: right
		width: 26%
		margin-top: -15px
		margin-left: 20px

	.art-footer-quote
		font-size: 80% //podpis pod cytatem
		line-height: 1.42857143
		color: #777

	.art-source
		font-style: italic

	.art-footer
		padding-top: 20px
		margin-bottom: -40px

	.AM
		float: right
		font-weight: bold
		margin-right: 10px		

.polecane
	@import ./subpages/polecane.sass


//strona 404
.not-found
	@import ./subpages/not-found.sass

.no-overflow
	overflow: hidden //brak scrolla na stronie 404


//landing page dla klientów
@import ./subpages/landing-customers.sass