.main-content
	overflow: visible

.desc-content
	margin-right: 0


//Szkolenia
.description-box-1
	h2
		margin-bottom: 10px


//Stopka
.bx-social-box
	h3
		padding-bottom: 8px

.newsletter 
	button
		color: lightgrey

	button:hover
	color: #000
	
	input
		color: lightgrey

#newsletter_info
	color: #ffcb05
	top: 90%


//Artykuły (podstrony)
.about-us
	img
		display: none //img niewidoczny w treści

	figure
		img
			display: initial //ale widoczny na liście aktualności
			border-radius: 4px

	.visible-img //dodać jak chcemy, żeby img był widoczny
		display: initial
		border-radius: 4px
		margin-bottom: 20px

.polecane
	@import ./subpages/polecane.sass
