.landing-body
	overflow-x: hidden
	color: #fff
	text-align: justify

.landing-header
	background-color: #fff
	//background: url(https://educationis.pl/img/logo.png)
	background-repeat: no-repeat
	background-size: contain
	width: 100%
	height: 7%
	z-index: 4
	left: 0
	top: 0
	position: fixed

	.logo
		height: 70%
		margin: 10px 15px

	.landing-social
		float: right

		ul
			list-style-type: none
			margin: 0
			padding: 0
			margin-right: 30px

		li
			display: inline-block
			padding-right: 8px
			padding-top: 18px			

.landing-main-content
	width: 100%
	height: 78%
	//background: url(http://dsathemes.com/html/crossway/one_page/without_menu/img/parallax_bg/intro_bkg.jpg)	
	//background-position: 50% -153px
	background: url(./subpages/desk2.jpg)
	background-position: 0 -20px
	background-size: cover
	background-repeat: no-repeat
	position: fixed
	z-index: 1
	top: 7%
	left: 0

.landing-banner
	width: 60%
	height: 60%
	margin: auto
	margin-top: 7%	

.landing-banner-img	
	display: inline	
	margin: 43px 40px

	img
		border-radius: 25px
		max-width: 110%

.landing-banner-desc	
	display: inline		
	margin: 43px 25px
	text-shadow: 1px 1px darkslategrey

	p
		font-size: 28px		
		margin-bottom: 20px
		margin-top: 0
		font-weight: bold

	h4
		font-weight: bold
		margin-bottom: 10px

	.list-desc
		font-size: 18px
		font-weight: normal

	button
		margin-top: 15px


.button-landing
	padding: 15px 30px
	background-color: forestgreen
	border: 1px solid forestgreen
	border-radius: 4px
	font-weight: bold
	font-size: 18px
	margin: auto
	max-width: 100%
	display: block

.landing-content
	position: absolute
	z-index: 2
	width: 100%
	height: 100%
	top: 77%

.landing-middle-1
	background-color: #851D28
	height: 500px

.landing-middle-2
	background-color: #fff
	height: 500px

.landing-bottom
	background-color: #851D28
	height: 250px
	top: 182%
	z-index: 2
	



