.landing-body
	overflow-x: hidden
	color: #fff


.landing-header
	background-color: #fff		
	width: 100%
	height: 7%
	z-index: 4	
	position: fixed

	.logo
		height: 70%
		margin: 10px 25px

	.landing-social
		float: right

		ul
			list-style-type: none
			margin: 0
			padding: 0
			margin-right: 25px

		li
			display: inline-block
			padding-right: 6px
			padding-top: 20px

	#fb:hover
		opacity: 0.7

	#gp:hover
		opacity: 0.7

	#in:hover
		opacity: 0.7

.landing-main-content
	width: 100%
	height: 73%
	background: url(/upload/images/bg-landing-customers.jpg)
	background-position: 0 -112px
	background-size: auto
	background-repeat: no-repeat
	position: fixed
	z-index: 1
	top: 7%
	left: 0

.landing-banner
	position: relative
	margin: auto
	top: 12%		
	width: 1400px
	height: 500px
	background-color: rgba(255, 255, 255, 0.3)
	border-radius: 16px

.landing-banner-img	
	position: absolute	
	width: 50% 
	margin-top: 5%	

	img
		border-radius: 25px
		width: 80%
		max-width: 100%
		display: block
		margin: 0 auto

.landing-banner-desc
	position: absolute !important
	margin-left: 52%
	width: 50% !important
	text-shadow: 1px 1px darkslategrey

	p
		margin-bottom: 20px		
		font-size: 34px	
		font-weight: bold
		text-shadow: 3px 1px darkslategrey

	h4
		margin-bottom: 15px
		font-size: 24px
		font-weight: bold		

	.list-desc
		font-size: 18px
		font-weight: normal

	.button-landing
		position: absolute
		margin-left: 25%
		margin-top: 3%	

.landing-link
	text-decoration: none
	color: #fff

.landing-link:hover
	text-decoration: none
	color: #fff
	font-weight: normal

.button-landing
	padding: 15px 25px
	background-color: forestgreen
	border: none
	border-radius: 4px
	font-weight: normal
	font-size: 22px
	margin: auto
	display: block

.button-landing:hover
	background-color: #167c2a	

.landing-content
	position: absolute
	z-index: 2
	width: 100%
	top: 80%
	text-align: justify

.landing-middle-1	
	background-color: #fff
	height: 430px
	color: #851D28
	text-align: center	

	h2
		padding-top: 60px
		padding-bottom: 60px
		font-size: 35px
		font-weight: bold		

.landing-flex
	display: flex
	display: -webkit-flex
	flex-flow: row nowrap
	-webkit-flex-flow: row nowrap
	justify-content: space-around
	-webkit-justify-content: space-around

.profits
	div
		width: 28%

		h3
			font-size: 30px
			margin-bottom: 25px
			margin-top: 20px !important			

		p
			font-size: 16px
			color: darkslategrey


.landing-middle-2
	background-color: #851D28
	height: 500px
	text-shadow: 2px 1px darkslategrey

	h2
		padding-top: 60px
		padding-bottom: 60px
		text-align: center
		font-size: 35px
		font-weight: bold

	h3
		font-size: 26px

.faq1, .faq2, .faq3, .faq4	
	width: 42%
	font-size: 16px


.landing-middle-3
	background-color: #fff
	height: 400px

	.partners
		width: 75%
		margin: auto	

	h2
		padding-top: 60px
		padding-bottom: 30px
		color: #851D28
		text-align: center
		font-weight: bold
		font-size: 35px

	img
		width: 200px

.landing-middle-4	
	background: url(/upload/images/bg-landing-customers.jpg)	
	background-position: 0 22%
	height: 300px
	text-shadow: 2px 1px darkslategrey

	h2
		padding-top: 60px
		padding-bottom: 15px
		text-align: center
		font-weight: bold
		font-size: 35px

	h3
		width: 44%		
		margin: auto
		margin-bottom: 30px
		font-size: 18px
		line-height: 1.43
		color: #eaeaea

.landing-footer
	background-color: #24272C
	height: 90px

	div
		text-align: center		
		color: darkgrey

	#copyrights
		padding-top: 15px
		padding-bottom: 15px

	#contact
		color: #ddd
		font-size: 16px

	#contact-mail
		border-right: 1px solid darkgrey
		padding: 3px 10px
		margin-right: 10px

	a
		color: inherit

	a:hover
		text-decoration: underline

#customer-chat-iframe
	display: none !important
	



