.main-content
	overflow: auto
	padding-bottom: 100px
	background: none

.wrapper
	position: static
	background-image: url("/img/404bg.jpg")


.about-us
	border: 2px solid #ddd
	border-radius: 4px
	background-repeat: no-repeat
	background-position: 7% 65%
	background-image: url("/img/404-info.png")
	height: 600px
	padding: 20px
	margin-top: 100px
	
	.title-404
		font-size: 30px
		text-align: center
		margin-bottom: 30px

	.content
		float: right
		width: 50%
		border-left: 1px solid #ddd		
		padding-left: 30px

		a
			color: #8c1919

		
		.search-content
			width: 50%
			background: none
			height: 100%
			margin: auto
			padding: 0

			input[type="text"]
				border-radius: 5px 0 0 5px

			input[type="text"]::-webkit-input-placeholder
				color: #848484

			input[type="text"]::-moz-placeholder
				color: #848484

			input[type="text"]:-ms-input-placeholder
				color: #848484

			.btn-404
				padding: 0 20px
				background-color: forestgreen
				font-weight: normal
				margin-left: -15px
				height: 46px
				line-height: 49px
				font-size: 16px
				border-radius: 0 5px 5px 0

			.btn-404:hover
				background-color: #1D771D		
		
		.categories
			width: 100%			
			margin-top: 110px			
			clear: both

			.category
				border: 1px solid #AAAAAA //#bbbfc0	
				text-transform: uppercase
				color: darkslategrey						
				border-radius: 4px
				display: inline-block
				width: 46.5%
				margin: 5px				
				padding: 8px 0
				float: left
				text-align: center
				background-color: #AAAAAA
				color: #fff
				transition: all 0.5s

				span
					position: relative
					display: inline-block
					transition: 0.5s

					&:after
						content: '\00bb'
						position: absolute
						opacity: 0
						top: 0
						right: -20px
						transition: 0.5s

			.category:hover
				background-color: forestgreen
				border: 1px solid forestgreen

			.category:hover span
				padding-right: 15px				

			.category:hover span:after
				opacity: 1
				right: 0								

			button:nth-child(odd)
				margin-left: 0

			button:nth-child(even)
				margin-right: 0

			.category:hover
				cursor: pointer				
			

		.social-404
			clear: both
			margin-top: 300px		

			p
				display: inline-block
				float: left				
				margin-right: 20px
				text-transform: uppercase
				font-weight: bold
				font-size: 18px				
			
			ul
				li
					display: inline-block
			
				img
					display: initial
					margin-right: 10px
					margin-top: 7px
					width: 45px

@media (max-width: 767px)
	.main-content
		background-image: url("/img/404bg.jpg")		

	.wrapper
		background: none
		padding: 0

	.about-us
		background: none		
		padding: 10px
		margin-top: 0
		border: none
		height: 520px		

		.title-404
			font-size: 20px
			margin-bottom: 5px
			font-weight: bold

		.content
			width: 100%			
			border: none	
			padding: 0		

			.search-content
				width: 100%
				margin-bottom: 15px

				input[type="text"]
					border-radius: 0
					margin: 0

				.btn-404
					width: 100%
					margin: auto
					border-radius: 0

			.category
				width: 100% !important				
				border-radius: 0 !important
				margin: 3px 0 !important

			.btn-contact
				margin-bottom: 12px !important

			.social-404
				margin-top: 0

				img
					margin-right: 0 !important
					width: 40px !important
					margin-top: 10px !important

@media (min-width: 768px) and (max-width: 992px)
	.about-us
		margin-top: 20px
		padding: 0
		background-size: 46%
		background-position: 4% 48%
		height: 550px

		.title-404
			font-size: 22px
			margin-top: 20px
			margin-bottom: 20px

		.content
			padding: 10px

			.search-content
				width: 100% !important
				margin-left: -10px
			
			.categories
				margin-top: 100px

				.category
					width: 100% !important

			.social-404
				margin-left: -350px
				margin-top: 0

@media (min-width: 993px) and (max-width: 1199px)
	.about-us
		background-size: 45%
		background-position: 5% 65%
		padding: 4px
		margin-top: 100px
		margin-bottom: 20px

		.content
			//padding: 10px
			//padding-left: 20px

			.wrapper
				width: 100%

				.search-content
					width: 100% !important
					margin: auto

			.categories
				.category
					width: 43.5%

				button:nth-child(odd)
					margin-left: 15px
				
@media (min-width: 1200px) and (max-width: 1919px)
	.about-us
		height: 550px

	.title-404
		margin-bottom: 5px

	.social-404
		margin-top: 250px

@media (min-width: 2560px)
	.about-us
		margin-top: 150px

