.art-tooltip 
	position: relative //tooltip w artykłuach
	display: inline-block
	max-width: 100%

.art-tooltiptext
	position: absolute
	display: none
	background-color: #FFF
	width: 500%
	padding: 15px
	border: 1px solid darkgrey
	border-radius: 6px
	top: -100px
	left: 195px		
	box-shadow: 15px 15px 8px lightgrey
	z-index: 2

@media (min-width: 1200px) and (max-width: 1919px)
	.art-tooltiptext
		width: 400%
		height: 2000%
		overflow: auto

@media (min-width: 992px) and (max-width: 1199px)
	.art-tooltiptext
		left: 100px
		width: 350%
		height: 2000%
		overflow: auto

@media (min-width: 768px) and (max-width: 991px)
	.art-tooltiptext
		left: 50px
		width: 305%
		height: 2000%
		overflow: auto

@media (max-width: 767px)
	.art-tooltiptext
		left: 0
		width: 150%
		height: 2000%
		overflow: auto
		box-shadow: none

.art-tooltip:hover .art-tooltiptext
	display: initial