.header-box
	height: 100px
	padding: 10px 0

	.logo
		img
			width: 200px
			padding-top: 7px		

	.main-menu
		padding-top: 22px

	.bkt-box
		padding-top: 22px


// menu testowe na stronie pl/test-home
.menu-test
	.main-menu
		a
			float: none

	.tt-dropdown:hover .tt-dropdown-text
		display: block

	.tt-dropdown-text
		position: absolute
		background-color: lightblue
		padding: 15px
		width: 500px
		display: none
		
		a
			display: block

