.header-new
	background: #fff

	.header-box		
		float: none
		height: 70px		
		padding: 0		

	.wrapper-header
		max-width: 100%
		height: 70px
		display: flex
		justify-content: space-between
		align-items: center

		.header-left-box
			display: flex
			align-items: center

			.logo
				padding: 0 30px

				img
					width: 160px
					max-width: 100%

			.main-menu
				padding: 0
				margin-bottom: 0

				.menu_3, .menu_8, .menu_4 //tych menu docelowo nie bedzie
					display: none

				li
					margin-left: 20px

		.header-right-box
			display: flex
			align-items: center

			.join-us
				display: flex
				align-items: center
				justify-content: center
				position: relative				
				height: 38px
				width: 120px
				background-color: #9EBD00
				color: #fff				
				border-radius: 4px 4px 0 0
				text-decoration: none
				box-shadow: 0 4px #88a00a
				text-shadow: 1px 1px #7c9209
				transition: none			

				&:hover					
					box-shadow: 0 2px #88a00a
					top: 2px

			.bkt-box
				display: flex
				align-items: center
				justify-content: center
				height: 70px
				width: 70px
				margin-top: 0
				margin-left: 0
				padding: 0
				border: none				
				background: #fff

				.ic-1
					background: url('/img/sprite2.png') 0 0 no-repeat

				&:hover .ic-1
					opacity: 0.6

			.basket-list
				right: 10px
				padding: 15px
				background: #fff
				border: 1px solid #d9d9d9
				letter-spacing: 0.5px				

				&:before
					content: "Twój koszyk"
					position: relative
					bottom: 5px		
					left: 4px					
					font-weight: 700

				.basket-products
					margin-top: 7px

					.products
						padding: 0 10px

					.products:last-child
						float: right
						text-align: right

				.basket-sum					
					border-top: 1px solid #d9d9d9
					padding-top: 10px

					.sum
						padding: 0 10px						
						font-weight: 700

					.sum:first-child
						text-transform: uppercase					

					.sum:last-child					
						text-align: right

.bottom-box
	position: relative
	top: 70px

footer
	position: relative
	top: 70px	

	// menu testowe na stronie pl/test-home
	.menu-test
		.main-menu
			a
				float: none

		.tt-dropdown:hover .tt-dropdown-text
			display: block

		.tt-dropdown-text
			position: absolute
			background-color: lightblue
			padding: 15px
			width: 500px
			display: none
			
			a
				display: block

