header
	background: #fff

	.header-box
		height: 80px
		padding: 0

		.logo
			img
				width: 200px
				padding-top: 10px		

		.main-menu
			padding-top: 24px

		.bkt-box
			height: 50px
			margin-top: 16px
			padding-top: 7px			

.bottom-box
	position: relative
	top: 80px

footer
	position: relative
	top: 80px	

	// menu testowe na stronie pl/test-home
	.menu-test
		.main-menu
			a
				float: none

		.tt-dropdown:hover .tt-dropdown-text
			display: block

		.tt-dropdown-text
			position: absolute
			background-color: lightblue
			padding: 15px
			width: 500px
			display: none
			
			a
				display: block

