.row
	margin: 0

.banner
	top: 70px
	height: 400px
	overflow: unset

.banner-box
	width: 100%
	height: 100%
	background: no-repeat center
	background-size: cover
	//background-position: 0 70%
	//background-image: url('https://download.fotolia.com/Content/CompImage500/FotoliaComp_92365513_o7ukCKN52y0AZBIWT53bZ2pcLbWHRsv5_W95')
	background-position: 0 10%
	background-image: url('https://t3.ftcdn.net/jpg/01/77/77/52/240_F_177775266_dWpqzJATdWK4qJRKxuJApeLxSt9kd1O7.jpg')
	border-top: 1px solid #d9d9d9
	border-bottom: 2px solid darkred

.wrapper-content
	overflow: visible
	height: 100%

	.wrapper
		position: absolute
		max-width: unset
		width: 700px
		height: 300px
		top: 130px

	.search-content
		//display: none !important
		position: relative
		background: none
		padding: 0
		margin: 0
		width: 100%
    	height: 100%

		.s-title
			display: none

		.search-box
			position: absolute			

		input, select, .chosen-single
			border-radius: 4px
			line-height: 40px
			height: 40px
			background: rgba(255, 255, 255, 0.9)
			color: #737373

		#fraza::-webkit-input-placeholder
			color: #737373

		#fraza::-moz-placeholder
			color: #737373

		#fraza::-ms-input-placeholder
			color: #737373

		.row6
			margin-bottom: 0px

		.chosen-results	
			li
				color: #737373				
		
		.date
			label
				display: none

			.col-sm-6
				.row6
					label							
						color: #737373
						display: initial
						background: rgba(255, 255, 255, 0.9)										
						padding: 0 0 18px 3px										
						border-radius: 4px 0 0 4px
						border-top:	1px solid #bbbfc0
						border-bottom: 1px solid #bbbfc0
						border-left: 1px solid #bbbfc0	

			#cena_do, #cena_od, #termin_od, #termin_do
				border-radius: 0 4px 4px 0
				border-left: none	

			.row6:nth-child(2)
				margin-left: 0 !important

			.col-xs-5								
				padding: 0 !important
				padding-right: 6px !important

			.col-xs-1
				padding: 0 !important

			#cena_od, #cena_do
				background: rgba(255, 255, 255, 0.9) url('/img/icons/img06.png') right center no-repeat !important

			#termin_od, #termin_do
				background: rgba(255, 255, 255, 0.9) url('/img/icons/img03.png') right center no-repeat !important

		.btn-1
			width: 100%
			background-color: forestgreen
			margin-top: 20px
			border-radius: 4px
			line-height: 44px
			height: 44px

			&:hover
				background-color: #167c2a	

	.banner-image	


.content-box
	position: relative
	top: 70px

.content-box-1
	.title
		h2
			display: none

	.slider-1, .slider-2, .slider-3
		padding: 15px 0 20px 0

	.slider-3
		padding-top: 0

	.n-description
		a
			color: #444

.content-box-2
	.title
		a
			color: #444