.banner
	top: 80px
	background-image: url('/img/slider/desk&hand-3000x1372.jpg')			
	background-size: 120%
	background-position: 0 31%
	height: 350px
	overflow: visible
	display: flex
	flex-flow: row-reverse nowrap;
	box-shadow: 1px 3px darkred

	.wrapper-search		
		width: 60%
		flex: 1 1 60%
		display: flex

		.wrapper
			width: 80%
			display: flex

		.search-content
			position: relative
			float: none
			width: 90%
			height: 90%
			margin: auto			
			padding: 0
			display: flex
			justify-content: space-around
			align-items: center			
			border-radius: 0
			background: rgba(255,255,255,0.4)

			.s-title
				display: none

			.search-box
				position: absolute
				z-index: 50
				width: 90%
				flex: 1 1 670px			

			input, select, .chosen-single
				border-radius: 4px
				line-height: 40px
				height: 40px
				background: rgba(255, 255, 255, 0.9)
				color: #737373

			#fraza::-webkit-input-placeholder
				color: #737373

			#fraza::-moz-placeholder
				color: #737373

			#fraza::-ms-input-placeholder
				color: #737373

			.row6
				margin-bottom: 0px

			.chosen-results	
				li
					color: #737373				
			
			.date
				label
					display: none

				.col-sm-6
					.row6
						label							
							color: #737373
							display: initial
							background: rgba(255, 255, 255, 0.9)										
							padding: 0 0 18px 3px										
							border-radius: 4px 0 0 4px
							border-top:	1px solid #bbbfc0
							border-bottom: 1px solid #bbbfc0
							border-left: 1px solid #bbbfc0	

				#cena_do, #cena_od, #termin_od, #termin_do
					border-radius: 0 4px 4px 0
					border-left: none	

				.row6:nth-child(2)
					margin-left: 0 !important

				.col-xs-5								
					padding: 0 !important
					padding-right: 6px !important

				.col-xs-1
					padding: 0 !important

				#cena_od, #cena_do
					background: rgba(255, 255, 255, 0.9) url('/img/icons/img06.png') right center no-repeat !important

				#termin_od, #termin_do
					background: rgba(255, 255, 255, 0.9) url('/img/icons/img03.png') right center no-repeat !important

			.btn-1
				width: 100%
				background-color: forestgreen
				margin-top: 20px
				border-radius: 4px
				line-height: 44px
				height: 44px

				&:hover
					background-color: #167c2a	

	.description-box
		width: 40%
		flex: 1 1 40%
		align-self: center
		display: flex
		justify-content: flex-end

		.desc-content
			margin: 0
			width: 55%			
			color: #fff

			p
				margin: 0

			.btn-3
				float: right
				border: 1px solid forestgreen
				padding: 10px 15px
				background: forestgreen
				color: #fff
				top: -10px
				font-weight: 400		

				span
					display: none


.content-box
	position: relative
	top: 80px

.content-box-1
	.title
		h2
			display: none

	.slider-1, .slider-2, .slider-3
		padding: 15px 0 20px 0

	.slider-3
		padding-top: 0

	.n-description
		a
			color: #444

.content-box-2
	.title
		a
			color: #444