.banner
	top: 80px

	ul
		.banner-img
			background-image: url('/img/slider/desk&hand-3000x1372.jpg') !important			
			background-size: 120%
			background-position: 0 47%
			height: 530px

	.wrapper-search
		float: right

		.search-content
			position: relative
			float: right
			width: 950px
			height: 950px
			margin-top: -225px
			margin-right: 50px
			padding: 270px 0 0 0

			.s-title
				display: none

			.search-box
				position: absolute
				z-index: 50
				width: 80%
				margin-left: 90px

			input, select, .chosen-single
				border-radius: 6px

			.btn-1
				width: 100%
				background-color: forestgreen
				margin-top: 20px
				border-radius: 6px

				&:hover
					background-color: #167c2a					

	.banner-txt		
		padding: 58px 0 0 150px
		height: 250px
		background: url('/img/bg-2.png') no-repeat
		
		.wrapper
			margin: 0

			.txt
				padding-bottom: 5px							

.content-box
	position: relative
	top: 80px

.content-box-1
	.title
		h2
			display: none

	.slider-1, .slider-2, .slider-3
		padding: 15px 0 20px 0

	.slider-3
		padding-top: 0

	.n-description
		a
			color: #444

.content-box-2
	.title
		a
			color: #444